<h2 class="title has-text-warning-dark">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
    <% if @minimum_password_length %>
      <span class="help has-text-danger">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-primary" %>
  </div>
<% end %>
