<h1 class="title has-text-warning-dark mb-6">Transaction succeded!</h1>
<ul>
  <% @line_items.each do |item| %>
    <li class="subtitle has-text-weight-bold mb-4 is-size-4"><%= item.description %></li>
  <% end %>
</ul>
<div class="box">
  <p class="subtitle has-text-weight-semibold">Payment</p>
  <p>Value: <span class="has-text-danger"><%= number_to_currency(@session.amount_total.to_f / 100) %></span></p>
  <p>Brand: <span class="has-text-danger"><%= @charge.payment_method_details.card.brand %></span></p>
  <p>Expiration: 
    <span class="has-text-danger">
      <%= @charge.payment_method_details.card.exp_month %>/<%= @charge.payment_method_details.card.exp_year %>
    </span>
  </p>
  <p>Last4: <span class="has-text-danger"><%= @charge.payment_method_details.card.last4 %></span></p>
  <p>Name: <span class="has-text-danger"><%= @session.customer_details.name %></span></p>
</div>

<%= link_to "Receipt", @charge.receipt_url, class: "button is-primary" %>
