<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarStripe">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarStripe" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Payment",
        checkout_path(payment_mode: "payment", line_items: "price_1NPpT3AU4NmK8tFWxeNTbeL5"),
        class: "navbar-item"
      %>
      <%= link_to "Subscription",
        checkout_path(payment_mode: "subscription", line_items: "price_1NQBHWAU4NmK8tFWDyWdbP0x"),
        class: "navbar-item"
      %>
      <%= link_to "Billing", billing_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "button is-outlined" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "button is-outlined" %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "button is-outlined" %>
            <%= link_to "Log in", new_user_session_path, class: "button is-outlined" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
